import("rJava")

# Classes
exportClasses(D1Client, DataPackage)

# constructor methods
exportMethods(D1Client, DataPackage)

# D1Client methods
exportMethods(login, getPackage, getD1Object, createD1Object, getEndpoint, addData, getData, getDataCount, convert.csv)

# DataPackage methods
exportMethods(asDataFrame)

# Misc testing methods
export("d1.test")
