import("rJava")

# Classes
exportClasses(D1Client, DataPackage, D1Object, EMLParser)

# constructor methods
exportMethods(D1Client, DataPackage, D1Object, EMLParser)

# D1Client methods
exportMethods(getPackage, getD1Object, reserveIdentifier, create, getEndpoint, getData, getMNodeId, setMNodeId, getMN, getCN, convert.csv)

# DataPackage methods
exportMethods(getData, getSize, getIdentifiers, addData, addAndDownloadData, insertRelationship,
              contains, removeMember, getMember, asDataFrame)

# D1Object methods
exportMethods(getData, getIdentifier, setPublicAccess, canRead, asDataFrame)

# EMLParser methods
exportMethods(dataTable.entityNames, dataTable.dataoneIdentifier, dataTable.size,
    dataTable.fieldDelimiter, dataTable.quoteCharacter, dataTable.characterEncoding, 
    dataTable.missingValueCodes, dataTable.orientation, 
    dataTable.attributeNames, dataTable.attributeTypes, dataTable.attributeStorageTypes)

# Misc testing methods
export("d1.test")
export("d1.javaversion")
